<div class="flex flex-col">
  <label class="text-gray-700 mt-1">Password</label>
  <div class="relative">
    <input
      [type]="isPasswordVisible ? 'text' : 'password'"
      class="w-full border border-gray-300 p-2 rounded mb-2"
      placeholder="Enter your password"
    />
    <button
      type="button"
      class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500"
      (click)="togglePasswordVisibility()"
    >

      <svg *ngIf="!isPasswordVisible" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12c0-3.866-3.582-7-8-7S-1 8.134-1 12s3.582 7 8 7 8-3.134 8-7z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a7 7 0 010-9.9m0 9.9l-9.9-9.9m0 9.9a7 7 0 019.9-9.9" />
      </svg>

      <svg *ngIf="isPasswordVisible" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.97 10.97 0 0112 19c-5.523 0-10-4.477-10-10S6.477 0 12 0a10.97 10.97 0 012.1.225M15 9l4 4m0 0l-4 4m4-4H9m6-4l4 4m-4-4H9" />
      </svg>
    </button>
  </div>

</div>
