.spinner-border {
    border-top-color: transparent;
}

.required::after,
[required]::after {
    content: ' *';
    color: #ff0000;
    font-weight: bold;
    display: inline-block;
    margin-left: 2px;
}