<div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-start p-4 relative z-0">

  <div cdkDropListGroup class="col-span-1 md:col-span-1 px-4 py-2 border-r border-gray-300 w-full md:w-60">
    <div class="flex justify-center">
      <h2 class="text-lg font-bold text-gray-700 mb-4">Tools</h2>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="dataSource"
      [cdkDropListConnectedTo]="[acquiredItems]"
      class="border border-gray-300 min-h-[60px] bg-white rounded overflow-hidden block"
    >
      <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="block pl-10">
          <div
            cdkDrag
            [cdkDragData]="node"
            class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white p-1 rounded mb-2 shadow text-sm w-32">
            {{ node.name }}
          </div>
        </cdk-nested-tree-node>
        <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild">
          <div class="flex items-center space-x-2">
            <button
              [attr.aria-label]="'Toggle ' + node.name"
              cdkTreeNodeToggle
              class="focus:outline-none"
            >
              <img src="../../../assets/icons/check.svg" alt="Toggle Icon" height="32" width="32">
            </button>
            <span class="text-md font-semibold">{{ node.name }}</span>
          </div>
          <div
            class="pl-4 mt-2 pb-2"
            [class.hidden]="!treeControl.isExpanded(node)"
          >
            <ng-container cdkTreeNodeOutlet></ng-container>
          </div>
        </cdk-nested-tree-node>
      </cdk-tree>
    </div>
  </div>

  <!-- Editor  -->
  <div class="col-span-3 px-4 py-6 bg-gray-50 rounded-lg shadow-lg border border-gray-300"
      cdkDropList
      #acquiredItems="cdkDropList"
      [cdkDropListData]="editorItems"
      (cdkDropListDropped)="onEditorDrop($event)">
    <div class="flex justify-center">
      <h2 class="text-xl font-bold text-gray-700 mb-4">Editor</h2>
    </div>
    <h3 *ngIf="formTitle" class="text-lg text-center text-gray-800 mb-4">{{ formTitle }}</h3>
    
    <ng-container *ngIf="editorItems.length === 0">
      <div class="p-35 border-2 border-dashed border-gray-300 rounded-lg text-center text-gray-500">
        Drag and drop items here.
      </div>
    </ng-container>


    <ng-template #recursiveSection let-items="items" let-parent="parent">
      <div *ngFor="let item of items" class="mb-4">
        <ng-container [ngSwitch]="item?.type">
          <!-- Section -->
          <ng-container *ngSwitchCase="'Section'">
            <div cdkDrag class="bg-white p-4 rounded-lg shadow-md" [attr.data-section-id]="item.id">
              <div class="flex justify-between items-center mb-2">
                <h3 class="font-semibold text-gray-700">{{ item.title || 'Section' }}</h3>

              <div class="flex space-x-2">
                <button   (click)="addSubsection(item)"class="text-blue-500 hover:text-blue-700">
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon> Add Subsection
                </button>
                <button (click)="editItem(item)" class="text-green-500 hover:text-green-700">
                  <fa-icon [icon]="['fas', 'edit']"></fa-icon> 
                </button>
          
                <button (click)="removeItem(item)" class="text-red-500 hover:text-red-700">
                  <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                </button>
             </div>
              </div>
              <div cdkDropList
              [cdkDropListData]="item.items || []"
              (cdkDropListDropped)="onSectionItemDropped($event, item)"
              class="min-h-[50px] p-2 border-2 border-dashed border-gray-200 rounded-lg relative z-10">
              <div *ngFor="let sectionItem of item.items" 
              cdkDrag 
              class="mb-2 relative z-0">
              <div class="bg-white p-3 rounded shadow-sm relative">
                <ng-container [ngSwitch]="sectionItem?.type">

                    <!-- Text Field -->
                    <ng-container *ngIf="sectionItem?.type === 'TEXTFIELD'">
                      <app-textform 
                      [label]="sectionItem.config.label" 
                      [textName]="sectionItem.config.textName"
                      [type]="sectionItem.config.type" 
                      [placeholder]="sectionItem.config.placeholder"
                      [isRequired]="sectionItem.config.isRequired || false">
                    </app-textform>
                    </ng-container>

                    <!-- Password Field -->
                    <ng-container *ngIf="sectionItem?.type === 'PASSWORD'">
                      <app-password 
                        [label]="sectionItem.config.label"
                        [placeholder]="sectionItem.config.placeholder"
                        [isRequired]="sectionItem.config.isRequired || false">
                      </app-password>
                    </ng-container>

                    <!-- Email -->
                    <ng-container *ngIf="sectionItem?.type === 'EMAIL'">
                      <app-email [label]="sectionItem.config.label" 
                               [placeholder]="sectionItem.config.placeholder"
                               [isRequired]="sectionItem.config.isRequired || false">
                      </app-email>
                    </ng-container>

                    <!-- Checkbox Group -->
                    <ng-container *ngIf="sectionItem?.type === 'CHECKBOX'">
                      <app-checkbox [groupLabel]="sectionItem.config.label"
                                  [name]="sectionItem.config.name" 
                                  [options]="sectionItem.config.options"
                                  [selectedOptions]="sectionItem.config.selectedOption"
                                  [isRequired]="sectionItem.config.isRequired || false">
                      </app-checkbox>
                    </ng-container>
                    
                    <!-- Phone Number -->
                    <ng-container *ngIf="sectionItem?.type === 'NUMBER'">
                      <app-phone-number [label]="sectionItem.config.label"
                                      [placeholder]="sectionItem.config.placeholder">
                      </app-phone-number>
                    </ng-container>

                    <ng-container *ngIf="sectionItem?.type === 'textarea'">
                      <app-text-area 
                        [label]="sectionItem.config.label" 
                        [placeholder]="sectionItem.placeholder || 'Enter text here'"
                        [isRequired]="sectionItem.config.isRequired || false"
                      >
                      </app-text-area>
                    </ng-container>
                    
                    <!-- Radio Group -->
                    <ng-container *ngIf="sectionItem?.type === 'RADIO_BUTTON'">
                      <app-radio-button
                        [groupLabel]="sectionItem.config.label"
                        [name]="sectionItem.config.name"
                        [options]="sectionItem.config.options"
                        [isRequired]="sectionItem.config.isRequired"
                        [isDisabled]="sectionItem.config.isDisabled"
                        [selectedOption]="sectionItem.config.selectedOption">
                      </app-radio-button>
                    </ng-container>
                    
                    <!-- Select Box -->
                    <ng-container *ngIf="sectionItem?.type === 'SELECT_BOX'">
                      <app-select-box
                        [label]="sectionItem.config.label"
                        [options]="getOptionsArray(sectionItem.config.options)"
                        [isRequired]="sectionItem.config.isRequired || false">
                      </app-select-box>
                    </ng-container>
                    
                    <!-- Date Picker -->
                    <ng-container *ngIf="sectionItem?.type === 'datepicker'">
                      <app-datepicker [label]="sectionItem.config.label">
                      </app-datepicker>
                    </ng-container>

                    <!-- Basic Date Picker -->
                    <ng-container *ngIf="sectionItem?.type === 'basic_datepicker'">
                      <app-basic-datepicker [label]="sectionItem.config.label">
                      </app-basic-datepicker>
                    </ng-container>

                    <!-- Button -->
                    <ng-container *ngIf="sectionItem?.type === 'button'">
                      <app-button
                        [label]="sectionItem.config.label"
                        [type]="sectionItem.config.type"
                        (buttonClick)="handleButtonClick(sectionItem.config.type)">
                      </app-button>
                    </ng-container>
                </ng-container>

                    <!-- Delete Button -->
                    <button (click)="removeItem(sectionItem)" class="absolute top-2 right-2 text-red-500 hover:text-red-700">
                      <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                    </button>
                    <button 
                    type="button" 
                    (click)="editItem(sectionItem)" 
                    class="absolute top-2 right-10 text-blue-500 hover:text-blue-700"
                    aria-label="Edit field">
                    <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                  </button>
                  </div>
                </div> 
             <!--subsection in section-->
      <div *ngIf="item.children?.length > 0" class="mt-4">
        <!--  subsections -->
        <div 
          cdkDropList 
          [cdkDropListData]="item.children"
          (cdkDropListDropped)="onSubsectionDrop($event, item)" 
          class="subsection-container">
          
          <ng-container *ngFor="let subsection of item.children">
            <div 
              *ngIf="subsection.type === 'Subsection'" 
              cdkDrag 
              class="bg-gray-100 p-4 rounded-lg shadow-sm mb-3">
              
              <div cdkDragHandle class="flex justify-between items-center mb-2">
                <h4 class="font-semibold text-gray-600">
                  <fa-icon [icon]="['fas', 'bars']" class="mr-2 text-gray-400"></fa-icon>
                  {{ subsection.title || 'Subsection' }}
                </h4>
              
                <div class="flex space-x-2">
                  <button type="button" (click)="editItem(subsection)" class="text-blue-500 hover:text-blue-700">
                    <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                  </button>
                   <button type="button" (click)="removeItem(subsection)" class="text-red-400 hover:text-red-700">
                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                  </button>
                </div>
              </div>
              
              <div 
                cdkDropList
                [cdkDropListData]="subsection.items"
                (cdkDropListDropped)="onSubsectionItemDropped($event, subsection)"
                class="min-h-[30px] p-2 border-2 border-dashed border-gray-100 rounded-lg">
                
                <ng-container *ngIf="subsection.items && subsection.items.length > 0; else emptySubsection">
                  <div *ngFor="let subItem of subsection.items" cdkDrag class="mb-2">
                    <div class="bg-white p-3 rounded shadow-sm relative">
                            
                      <ng-container [ngSwitch]="subItem?.type">
                        <!-- Text Field -->
                        <ng-container *ngSwitchCase="'TEXTFIELD'">
                          <app-textform 
                            [label]="subItem.config?.label || 'Text Field'" 
                            [textName]="subItem.config?.textName || ''"
                            [type]="subItem.config?.type || 'text'" 
                            [placeholder]="subItem.config?.placeholder || ''"
                            [isRequired]="subItem.config?.isRequired || false">
                          </app-textform>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'PASSWORD'">
                          <app-password 
                            [label]="subItem.config?.label || 'Password'"
                            [isRequired]="subItem.config?.isRequired || false"
                            [placeholder]="subItem.config?.placeholder || 'Enter password'">
                          </app-password>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'EMAIL'">
                          <app-email 
                            [label]="subItem.config?.label || 'Email'" 
                            [placeholder]="subItem.config?.placeholder || 'Enter email'"
                            [isRequired]="subItem.config?.isRequired || false">
                          </app-email>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'CHECKBOX'">
                          <app-checkbox 
                            [groupLabel]="subItem.config?.label || 'Checkbox Group'"
                            [name]="subItem.config?.name || 'checkbox-group'" 
                            [options]="subItem.config?.options || []"
                            [selectedOptions]="subItem.config?.selectedOption || []"
                            [isRequired]="subItem.config?.isRequired || false">
                          </app-checkbox>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'NUMBER'">
                          <app-phone-number 
                            [label]="subItem.config?.label || 'Phone Number'"
                            [placeholder]="subItem.config?.placeholder || 'Enter phone number'">
                          </app-phone-number>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'textarea'">
                          <app-text-area 
                            [label]="subItem.config?.label || 'Text Area'"
                            [placeholder]="subItem.config?.placeholder || 'Enter text here'"
                            [isRequired]="subItem.config?.isRequired || false">
                          </app-text-area>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'RADIO_BUTTON'">
                          <app-radio-button
                            [groupLabel]="subItem.config?.label || 'Radio Group'"
                            [name]="subItem.config?.name || 'radio-group'"
                            [options]="subItem.config?.options || []"
                            [isRequired]="subItem.config?.isRequired || false"
                            [isDisabled]="subItem.config?.isDisabled || false"
                            [selectedOption]="subItem.config?.selectedOption || null">
                          </app-radio-button>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'SELECT_BOX'">
                          <app-select-box
                            [label]="subItem.config?.label || 'Select Option'"
                            [isRequired]="subItem.config?.isRequired || false"
                            [options]="getOptionsArray(subItem.config?.options) || []">
                          </app-select-box>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'datepicker'">
                          <app-datepicker 
                            [label]="subItem.config?.label || 'Select Date'">
                          </app-datepicker>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'basic_datepicker'">
                          <app-basic-datepicker 
                            [label]="subItem.config?.label || 'Select Date'">
                          </app-basic-datepicker>
                        </ng-container>
                        
                        <ng-container *ngSwitchCase="'button'">
                          <app-button
                            [label]="subItem.config?.label || 'Button'"
                            [type]="subItem.config?.type || 'button'"
                            (buttonClick)="handleButtonClick(subItem.config?.type)">
                          </app-button>
                        </ng-container>
          
                        <ng-container *ngSwitchDefault>
                          <div class="text-red-500 p-2 border border-red-200 bg-red-50 rounded">
                            Unknown field type: {{subItem?.type}}
                          </div>
                        </ng-container>
                      </ng-container>
                      <button 
                      type="button" 
                      (click)="editItem(subItem)" 
                      class="absolute top-2 right-10 text-blue-500 hover:text-blue-700"
                      aria-label="Edit field">
                      <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                    </button>
          
                      <button (click)="removeItem(subItem)" 
                              class="absolute top-2 right-2 text-red-500 hover:text-red-700"
                              aria-label="Remove field">
                        <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                      </button>
                    </div>
                  </div>
                </ng-container>
                
                <ng-template #emptySubsection>
                  <div class="text-gray-400 text-center py-2">
                    Drop form inputs here
                  </div>
                </ng-template>
              </div>
            </div>
          </ng-container>
        </div>
      </div>         
              </div>            
            </div>           
          </ng-container>

      <!-- Form Inputs -->
          <ng-container *ngSwitchDefault>
            <div cdkDrag class="bg-white p-3 rounded shadow-sm relative hover:shadow-md transition-shadow duration-200">
       
              <button (click)="removeItem(item)" 
                      class="absolute top-2 right-2 text-red-500 hover:text-red-700"
                      aria-label="Remove field">
                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
              </button>

            
              

              <ng-container [ngSwitch]="item?.type">
                <!-- Text Field -->
                <ng-container *ngSwitchCase="'TEXTFIELD'">
                  <app-textform [label]="item.config?.label || 'Text Field'" 
                              [textName]="item.config?.textName || ''"
                              [type]="item.config?.type || 'text'" 
                              [placeholder]="item.config?.placeholder || ''">
                  </app-textform>
                </ng-container>

                <!-- Password Field -->
                <ng-container *ngSwitchCase="'PASSWORD'">
                  <app-password 
                    [label]="item.config?.label || 'Password'"
                    [placeholder]="item.config?.placeholder || 'Enter password'">
                  </app-password>
                </ng-container>

                <!-- Email Field -->
                <ng-container *ngSwitchCase="'EMAIL'">
                  <app-email [label]="item.config?.label || 'Email'" 
                          [placeholder]="item.config?.placeholder || 'Enter email'">
                  </app-email>
                </ng-container>

                <!-- Checkbox Group -->
                <ng-container *ngSwitchCase="'CHECKBOX'">
                  <app-checkbox [groupLabel]="item.config?.groupLabel || 'Options'"
                              [name]="item.config?.name || 'checkbox-group'"
                              [options]="item.config?.options || []"
                              [selectedOptions]="item.config?.selectedOption || []">
                  </app-checkbox>
                </ng-container>
                
                <!-- Phone Number -->
                <ng-container *ngSwitchCase="'NUMBER'">
                  <app-phone-number [label]="item.config?.label || 'Phone Number'"
                                  [placeholder]="item.config?.placeholder || 'Enter phone number'">
                  </app-phone-number>
                </ng-container>

                <!-- Text Area -->
                <ng-container *ngSwitchCase="'textarea'">
                  <app-text-area 
                    [label]="item.config?.label || 'Text Area'"
                    [placeholder]="item.config?.placeholder || 'Enter text here'">
                  </app-text-area>
                </ng-container>
                
                <!-- Radio Group -->
                <ng-container *ngSwitchCase="'RADIO_BUTTON'">
                  <app-radio-button
                    [groupLabel]="item.config?.groupLabel || 'Options'"
                    [name]="item.config?.name || 'radio-group'"
                    [options]="item.config?.options || []"
                    [isRequired]="item.config?.isRequired || false"
                    [isDisabled]="item.config?.isDisabled || false"
                    [selectedOption]="item.config?.selectedOption || null">
                  </app-radio-button>
                </ng-container>
                
                <!-- Select Box -->
                <ng-container *ngSwitchCase="'SELECT_BOX'">
                  <app-select-box
                    [label]="item.config?.label || 'Select Option'"
                    [options]="getOptionsArray(item.config?.options) || []">
                  </app-select-box>
                </ng-container>
                
                <!-- Advanced Date Picker -->
                <ng-container *ngSwitchCase="'datepicker'">
                  <app-datepicker [label]="item.config?.label || 'Select Date'">
                  </app-datepicker>
                </ng-container>

                <!-- Basic Date Picker -->
                <ng-container *ngSwitchCase="'basic_datepicker'">
                  <app-basic-datepicker [label]="item.config?.label || 'Select Date'">
                  </app-basic-datepicker>
                </ng-container>

                <!-- Button -->
                <ng-container *ngSwitchCase="'button'">
                  <app-button
                    [label]="item.config?.label || 'Button'"
                    [type]="item.config?.type || 'button'"
                    (buttonClick)="handleButtonClick(item.config?.type)">
                  </app-button>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <div class="text-red-500 p-2 border border-red-200 bg-red-50 rounded">
                    Unknown field type: {{item?.type}}
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-template>
 
    <ng-container *ngTemplateOutlet="recursiveSection; context: { items: editorItems }"></ng-container>
        <div *ngIf="editorItems.length > 0" class="flex justify-start mt-4">
      <app-button
        label="Create"
        type="submit"
        (buttonClick)="handleSubmit()"
        class="text-white bg-green-500 hover:bg-green-600 p-2 rounded">
      </app-button>
    </div>
  </div>
</div>

<!-- JSON Preview -->
<pre class="mt-4 p-4 bg-gray-100 rounded-lg shadow-inner overflow-auto">{{ editorItems | json }}</pre>