<div class="text-field-holder" [ngClass]="{'flex': labelPosition === 'left' || labelPosition === 'right', 'flex-col': labelPosition === 'top' || labelPosition === 'bottom'}">
    <label
      for="textInput"
      class="block text-sm font-medium"
      [ngStyle]="{
        'color': fontColor,
        'font-size.px': textSize,
        'font-family': fontFamily,
        'text-align': labelAlignment === 'left' ? 'left' : 'right'
      }"
      [ngClass]="{
        'order-1': labelPosition === 'top',
        'order-2': labelPosition === 'left' || labelPosition === 'bottom',
        'order-3': labelPosition === 'right'
      }"
    >
      {{ label }}
    </label>

    <textarea
      id="textInput"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 resize"
      [ngStyle]="{'color': fontColor, 'font-size.px': textSize, 'font-family': fontFamily}"
      rows="4"
    ></textarea>
  </div>
