.text-field-holder {
    display: flex;
    &.flex-col {
      flex-direction: column;
    }
    label {
      margin-bottom: 0.5rem;
    }
    textarea {
      margin-top: 0.5rem;
    }
    &.flex {
      label {
        margin-bottom: 0;
      }
    }

    &.flex-col {
      label.order-2 {
        order: 2;
      }
      textarea {
        order: 1;
      }
    }
  }
