<div class="RADIO_BUTTON">
  <label class="font-medium block mb-2">
    {{ groupLabel }}
    <span *ngIf="isRequired" class="text-red-500 ml-1">*</span>
  </label>

  <div class="space-y-2">
    <div *ngFor="let option of options" class="flex items-center">
      <input
        type="radio"
        [name]="name"
        [value]="option.value"
        [checked]="selectedOption === option.value"
        [disabled]="isDisabled"
        class="bg-gray-100 border-gray-300 rounded-full focus:ring-2"
        [ngStyle]="{
          'cursor': isDisabled ? 'not-allowed' : 'pointer'
        }"
        (change)="onOptionChange(option.value)"
      >
      <label
        class="font-medium select-none"
        [ngClass]="{
          'cursor-pointer': !isDisabled,
          'cursor-not-allowed': isDisabled,
          'opacity-60': isDisabled
        }"
      >
        {{ option.label }}
      </label>
    </div>
  </div>
</div>
