<div class="email-field-holder">
  <label
    for="emailInput"
    class="block text-sm font-medium"
  >
    {{ label }}
  </label>

  <input
    type="email"
    id="emailInput"
    [(ngModel)]="email"
    placeholder="{{ placeholder }}"
    [required]="required"
    [value]="value"
    (input)="onInputChange($event)"
    

    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
    required
  />
  <div *ngIf="isEmailInvalid" class="text-red-500 text-sm mt-1">Invalid email address</div>
</div>
